<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="forgot-password.component.css">
</head>
<body>
    <div class="container">
    
<form class ="Register" [formGroup] = "form" (ngSubmit)="ForgotPasswordInsert(form)"> <br>
    <!--<div>
        <label>Reference Password Id:</label>
        <input type="text" name="referencePasswordId" formControlName="referencePasswordId" >
    </div>-->
    <span class="title">Forgot Password</span>
    <div class="input-field">
        <label>UserID :</label>
        <input type="text" id= "enterUserId" name="enterUserId" formControlName="enterUserId" placeholder="Enter Your User-Id" 
        title="must enter the User Id you received" required>
        
    </div>
    <div class="input-field">
        <label>Email Id :</label>
        <input type="text" id= "emailId" name="emailId" formControlName="emailId" placeholder="Enter Your Email-Id" required>
        
    </div>
    <div class="input-field">
        <label>Enter Otp :</label>
        <input type="text" id= "enterOtp" name="enterOtp" formControlName="enterOtp" placeholder="Enter One-Time-Password" 
        title="must enter 6 digit code" required>
        
    </div>
    <br>
    <div class="button">
        <button (click)="alertWithSuccess()" >Submit</button>
    </div><br>
    <div>
        <p class="psw">Want to Set New Password? <a style="color: blue;margin-top: 10px;" routerLink="/SetNewPassword"> Click Here</a></p>  
    </div>
</form>
</div>
</body>
</html>