<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set New Password</title>
    <link rel="stylesheet" href="set-new-password.component.css">
</head>
<body>
    <div class="container">
    <form class ="Register" [formGroup] = "form" (ngSubmit)="SetNewPasswordInsert(form)"> <br>
    <!--<div>
        <label>Reference New Id :</label>
        <input type="text" name="referenceNewId" formControlName="referenceNewId" >
    </div><br>-->
    <span class="title">Set New Password</span>
    <div class="input-field">
        <label>User ID :</label>
        <input type="text" id= "userId" name="userId" formControlName="userId" placeholder="Enter Your User-Id"
        title="must enter the User Id you received" required required>
    </div>
    <div class="input-field">
        <label>OldPassword :</label>
        <input type="password" id= "oldPassword" name="oldPassword" formControlName="oldPassword" placeholder="Last Password you remember" 
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        title=" Password Must contain at least one number , one uppercase and lowercase letter , one special characters and at least 8 or more characters" required>
    </div>
    <div class="input-field">
        <label>New Password :</label>
        <input type="password" id= "newPassword" name="newPassword" formControlName="newPassword" placeholder="Enter New Password"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        title=" Password Must contain at least one number , one uppercase and lowercase letter , one special characters and at least 8 or more characters"  required>
    </div>
    <div class="input-field">
        <label>Confirm New Password :</label>
        <input type="password" id= "confirmNewPassword" name="confirmNewPassword" formControlName="confirmNewPassword" placeholder="Re-Enter your Password" 
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        title=" Password Must contain at least one number , one uppercase and lowercase letter , one special characters and at least 8 or more characters" required>
    </div> 
    <br>
    <div class="button">
        <button (click)="alertWithSuccess()">Submit</button>
    </div>
</form>
</div>
</body>
</html>