
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
</head>
<body>


    
    <form >
        <div style="text-align:center">
            
            <label>Statement From:</label> 
            <input type="text" id="state1" name="state1" ngModel/>&nbsp;&nbsp;
            <label >To:</label>
            <input type="text" id="state2" name="state2" ngModel  />
        
            <br />
            <br />
            <br />
            <br />

 

            <table border="2px" class="center" style="margin: auto;">
                <tr>
                    <td> <b>Select: </b></td>
                    <td><b>Account No. </b> </td>
                    <td> <b>Name </b></td>
                    <td><b>Account Type </b></td>
                    <td><b>Balance </b></td>
                </tr>
                <tr>

                    <td>.</td>
                    <td> </td>
                    <td> </td>
                    <td></td>
                    <td> </td>
                </tr>
            </table>
            <br />
         
            <p><input TYPE="BUTTON" VALUE="Submit" (click)="Onsubmit()"></p>

        

 

 

 

        </div>
    </form>

 


</body>
</html>
