    
html,   
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  font-size: 16px;
}

.navbar div.main_list ul li a {
  text-decoration: none;
  color: rgb(26, 179, 240);
  
  font-size: 1.7rem;
}

.navbar div.main_list ul li a:hover {
  color: #00E676;
}
.navbar div.main_list {
  
  float: right;
}

.navbar-header{
    float:left;width: auto; height: auto; padding-left: 3rem;font-size: 1.7rem; margin-top:11px;
}
.nav-pills>li>a {
    border-radius: 4px;
    font-size: 16px;
}

  div.main_list ul li a:hover{
  color: #00E676;
}