<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="Stylesheet" href="home-page.component.css">
    <link rel="Stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  </head>
<body>
  <header>
    <div class="navbar">
      <div class="dropdown">
        <button class="btn" (click)="Login()">Login</button>
      </div>
    </div>
  </header>
  <section>
      <div class="banner-area">
              <h1>Expertise you need. Service you deserve!</h1>
              <br>
              <p>Small steps to a better future</p>
              <p>A fresh approach to banking</p>
              <p>You are in good hands</p>
              <p>Your journey starts here...</p>
      </div>
      <div class="content-area">
        <div class="wrapper">
          <br>
          <h2>Bharat Bank</h2>
          <p>
            Banks are an elemental part of society.
            Banks are located in different parts of the country and deal directly with the general public.
            They provide multiple services on customer-based requirements and provide lockers, ATM Services, money transfer, loans for houses and businesses, and several other monetary services.
            A bank helps people cultivate the habit of saving and provides safe custody.
            It collects bills, drafts, cheques, and grants credit facilities and loans to people.
            It facilitates making payments and secures the overdrafts and loans.
          </p>
        </div>
      </div>
    </section>
      <footer class="footer">
         <div class="container">
           <div class="row">
             <div class="footer-col">
               <h4>Bharat Bank</h4>
               <ul>
                 <li><a href="#">About Us</a></li>
                 <li><a href="#">Our Services</a></li>
                 <li><a href="#">Privacy Policy</a></li>
                 <li><a href="#">Others</a></li>
               </ul>
             </div>
             <div class="footer-col">
               <h4>Get Help</h4>
               <ul>
                 <li><a href="#">FAQ</a></li>
                 <li><a href="#">Customer Care</a></li>
                </ul>
              </div>
              <div class="footer-col">
                <h4>Explore</h4>
               <ul>
                 <li><a href="#">Safe Banking</a></li>
                 <li><a href="#">Internet Banking</a></li>
                </ul>
              </div>
              <div class="footer-col">
                <h4>Follow Us</h4>
                  <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
             </div>
            </div>
         

      </footer>
</body>
</html>

